@import "variables.css";

html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App .open-dialog .bp4-dialog-footer-actions {
  justify-content: center;
}

.App .open-dialog .bp4-dialog-footer button {
  width: 50%;
  height: 50%;
}
